{{#if addNewShoe}}
  <h1>New Shoe</h1>
    <div>
      <form>
        <div class="form-group">
          <label for="name">Name</label>
          {{input value=name id="name"}}
        </div>

        <div class="form-group">
          <label for="type">Type</label>
          {{input value=type id="type"}}
        </div>

        <div class="form-group">
          <label for="image">Image URL</label>
          {{input value=image id="image"}}
        </div>

        <div class="form-group">
          <label for="size">Number of Sizes</label>
          {{input value=size id="size"}}
        </div>



        <div class="form-group">
          <label for="price">Price</label>
          {{input value=price id="price"}}
        </div>

        <button {{action 'save1'}}>Save</button>
      </form>
    </div>
{{else}}
    <button {{action 'shoeFormShow'}}>New Shoe</button>
{{/if}}
